header{
	display: flex;
	flex-direction: column;
}

.mainContact {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	font-family: Verdana, sans-serif;
}